doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title pug sample
    link(rel="stylesheet", type="text/css",  href="./assets/stylesheets/main.css")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")

  body
    header.header
      h1 HEADER
    section.top
      h2 TOP
    section#anc01.section1.js-floatingNav-flag
      h2 SECTION1
    section#anc02.section2.js-floatingNav-flag
      h2 SECTION2
    section#anc03.section3.js-floatingNav-flag
      h2 SECTION3
    footer.footer.js-floatingNav-endFlag
      p FOOTER

    div.modFloatingNav
      ul.modFloatingNav__list
        li.modFloatingNav__listItem
          a(href="#anc01").modFloatingNav__anchor
            span section1
        li.modFloatingNav__listItem
          a(href="#anc02").modFloatingNav__anchor
            span section
              br
              | 2
        li.modFloatingNav__listItem
          a(href="#anc03").modFloatingNav__anchor
            span section3

    //- div.modFloatingNav
    //-   ul.modFloatingNav__list
    //-     li.modFloatingNav__listItem
    //-       a(href="#anc01").modFloatingNav__anchor
    //-         img(src="https://placehold.jp/e57373/e53935/1x1.png", width="100%", height="56px", alt="")
    //-     li.modFloatingNav__listItem
    //-       a(href="#anc02").modFloatingNav__anchor
    //-         img(src="https://placehold.jp/A5D6A7/43A047//1x1.png", width="100%", height="56px", alt="")
    //-     li.modFloatingNav__listItem
    //-       a(href="#anc03").modFloatingNav__anchor
    //-         img(src="https://placehold.jp/42A5F5/42A5F5//1x1.png", width="100%", height="56px", alt="")

  script(src="./assets/javascripts/main.js")

